---
import { SITE } from '~/config/site/config.js';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import latestBlogPosts from '~/config/home/featured-posts';
import steps from '~/config/home/steps';
import hero from '~/config/home/hero';
import faqs from '~/config/home/faqs';
import features from '~/config/home/features';
import callToAction from '~/config/components/call-to-action';
import stats from '~/config/home/stats';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  {
    hero.enabled && (
      <Hero
        callToAction={{
          text: hero.callToAction.text,
          href: hero.callToAction.href,
          icon: hero.callToAction.icon,
        }}
        callToAction2={{
          text: hero.callToAction2.text,
          href: hero.callToAction2.href,
          enabled: hero.callToAction2.enabled,
        }}
        image={{ src: hero.image.src, alt: hero.image.alt }}
      >
        {hero.title.enabled && <Fragment slot="title" set:html={hero.title.text} />}

        {hero.subtitle.enabled && <Fragment slot="subtitle" set:html={hero.subtitle.text} />}
      </Hero>
    )
  }

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  {
    features.enabled && (
      <Features
        highlight={features.highlight}
        title={features.title}
        subtitle={features.subtitle}
        items={features.items}
      />
    )
  }

  <!-- Content Widget **************** -->

  <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  />

  <!-- Steps Widget ****************** -->

  {
    steps.enabled && (
      <Steps
        title={steps.title}
        items={steps.items}
        image={{
          src: steps.image.src,
          alt: steps.image.alt,
        }}
      />
    )
  }

  <!-- Features2 Widget ************** -->

  <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  {
    latestBlogPosts.enabled && (
      <LatestPosts
        title={latestBlogPosts.title}
        information={latestBlogPosts.information}
        postIds={latestBlogPosts.postIds}
      />
    )
  }

  <!-- FAQs Widget ******************* -->

  {faqs.enabled && <FAQs title={faqs.title} subtitle={faqs.subtitle} highlight={faqs.highlight} items={faqs.items} />}

  <!-- Stats Widget ****************** -->

  {stats.enabled && <Stats items={stats.items} />}

  <!-- CallToAction Widget *********** -->
  {
    callToAction.enabled && (
      <CallToAction
        callToAction={{
          text: callToAction.button.text,
          href: callToAction.button.href,
          icon: callToAction.button.icon,
          enabled: callToAction.button.enabled,
        }}
      >
        <Fragment slot="title" set:html={callToAction.title} />
        <Fragment slot="subtitle" set:html={callToAction.subtitle} />
      </CallToAction>
    )
  }
</Layout>
